attrs==21.2.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
contextvars==2.4
cryptography==3.4.7
Cython==0.29.23
decorator==4.4.2
dill==0.3.3
dlx==1.0.4
docplex==2.20.204
fastdtw==0.3.4
fastjsonschema==2.15.1
graphviz==0.16
h5py==3.1.0
idna==2.10
immutables==0.15
importlib-metadata==4.0.1
inflection==0.5.1
joblib==1.0.1
jsonschema==3.2.0
lxml==4.6.3
more-itertools==8.8.0
mpmath==1.2.1
multitasking==0.0.9
nest-asyncio==1.5.1
networkx==2.5.1
ntlm-auth==1.5.0
numpy==1.19.5
opt-einsum==3.3.0
pandas==1.1.5
ply==3.11
psutil==5.8.0
pybind11==2.6.2
pycparser==2.20
pyrsistent==0.17.3
python-constraint==1.4.0
python-dateutil==2.8.1
pytz==2021.1
qiskit==0.23.0
qiskit-aer==0.7.0
qiskit-aqua==0.8.0
qiskit-ibmq-provider==0.11.0
qiskit-ignis==0.5.0
qiskit-terra==0.16.0
Quandl==3.6.1
requests==2.25.1
requests-ntlm==1.1.0
retworkx==0.8.0
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sympy==1.8
tensornetwork==0.4.5
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
yfinance==0.1.59
zipp==3.4.1
